<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.11.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="113.0.5672.6300" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="Universe.ChromeAndDriverInstaller" version="1.1.11" targetFramework="net48" />
</packages>