name: Build NuGet Array

on:
  workflow_dispatch:
  push:
      branches: [ "main" ]
  schedule:
      - cron: "15 4 * * *"

defaults:
  run:
    shell: pwsh


jobs:

  Build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025, ubuntu-24.04, macos-latest]

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    timeout-minutes: 30
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          fetch-depth: 9999999
    - name: Variables
      run: 'printenv | sort'

    - name: Build Nuget Array
      run: |
         set -eu -o pipefail;
         Say "CPU: $(Get-CpuName)"
         export SQLINSIGHTS_NUGET_BUILDER_FOLDER="${{ runner.temp }}"
         cd scripts
         pwsh -f Build-NuGET-Array.ps1
         Say "CONTENT OF SQLINSIGHTS_NUGET_BUILDER_FOLDER [$SQLINSIGHTS_NUGET_BUILDER_FOLDER]"
         ls -la "$SQLINSIGHTS_NUGET_BUILDER_FOLDER"

         mkdir -p "$SYSTEM_ARTIFACTSDIRECTORY" || sudo mkdir -p "$SYSTEM_ARTIFACTSDIRECTORY"
         cp -v "$SQLINSIGHTS_NUGET_BUILDER_FOLDER"/*nupkg         "$SYSTEM_ARTIFACTSDIRECTORY"
         cp -v "$SQLINSIGHTS_NUGET_BUILDER_FOLDER"/*BUILD-LOG*.7z "$SYSTEM_ARTIFACTSDIRECTORY"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Nuget Array (${{ runner.os }})'
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        overwrite: true
        compression-level: 7


  Combine:
    runs-on: ubuntu-latest
    needs: Build
    if: always()
    timeout-minutes: 20
    steps:

    - name: Bootstrap
      uses: devizer/devops-library@main
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v4

    - name: Pack 7z
      shell: bash
      # run: cd artifacts; Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Pack-each-Artifact-per-Archive.sh -9 -7z
      run: 7z a -mx=9 -sdel -ms=on -mqs=on "Combined Nuget Array (Windows, Linux, MacOS).7z"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Combined Nuget Array'
        overwrite: true
        compression-level: 1
        path: .
