name: Build NuGet Array

on:
  workflow_dispatch:
  push:
      branches: [ "main" ]
  schedule:
      - cron: "15 4 * * *"

defaults:
  run:
    shell: pwsh


jobs:

  Pre-Build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025, ubuntu-24.04, macos-latest]

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    timeout-minutes: 30
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Variables
      run: 'printenv | sort'
    - name: Install GNU Parallel
      run: Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Install-GNU-Parallel.sh

    - name: Build Nuget Array
      shell: bash
         set -eu -o pipefail;
         Say "CPU: $(Get-CpuName)"
         export SQLINSIGHTS_NUGET_BUILDER_FOLDER="${{ runner.temp }}"
         cd scripts
         pwsh -f Build-NuGET-Array.ps1
         ls -la "$SQLINSIGHTS_NUGET_BUILDER_FOLDER"
         cp -v "$SQLINSIGHTS_NUGET_BUILDER_FOLDER"/*nupkg 
         cp -v "$SQLINSIGHTS_NUGET_BUILDER_FOLDER"/*BUILD-LOG*.7z "$SYSTEM_ARTIFACTSDIRECTORY"

    retryCountOnTaskFailure: 3
    displayName: "BUILD NuGet Array (Linux/Windows)"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Nuget Array (${{ runner.os }})'
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        overwrite: true
        compression-level: 1


  Combine:
    runs-on: ubuntu-latest
    needs: Pre-Build
    if: always()
    timeout-minutes: 20
    steps:

    - name: Bootstrap
      uses: devizer/devops-library@main
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v4
      with:
         path: artifacts

    - name: Pack 7z
      shell: bash
      run: cd artifacts; Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Pack-each-Artifact-per-Archive.sh -1 -7z

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Combined'
        path: artifacts
        overwrite: true
        compression-level: 1
