name: Test SqlInsights

on:
  workflow_dispatch:
  push:
      branches: [ "none" ]
  schedule:
      - cron: "15 4 * * *"

defaults:
  run:
    shell: pwsh


jobs:

  Pre-Build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    timeout-minutes: 20
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Variables
      run: 'printenv | sort'
    - name: Install GNU Parallel
      run: Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Install-GNU-Parallel.sh

    - name: build all parallel
      run: |
        parallel --group --halt 0 "bash -eu -o pipefail scripts/CI-Pre-Build/{}.sh 2>&1" ::: "Pre-Build-w3app" "Pre-Build-FX-Dependent"

    - name: build w3app (if parallel fail)
      if: failure()
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Pre-Build-w3app.sh
    - name: build fx dependent (if parallel fail)
      if: failure()
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Pre-Build-FX-Dependent.sh
        
    - name: copy w3app to w3api/wwwroot
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Copy-w3app-to-W3API-wwwroot.sh
    - name: Content of w3api
      run: ls -laR $SYSTEM_ARTIFACTSDIRECTORY/w3api || true
        


    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Pre-Build'
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        overwrite: true
        compression-level: 1
  


          
  Combine:
    runs-on: ubuntu-latest
    needs: Pre-Build
    if: always()
    timeout-minutes: 15
    steps:

    - name: Bootstrap
      uses: devizer/devops-library@main
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v4
      with:
         path: artifacts

    - name: Pack 7z
      shell: bash
      run: cd artifacts; export COMPRESSION_LEVEL=7; Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Pack-each-Artifact-per-Archive.sh

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Combined'
        path: artifacts
        overwrite: true
        compression-level: 1
        
