name: Test SqlInsights

on:
  workflow_dispatch:
  push:
      branches: [ "none" ]
  schedule:
      - cron: "15 4 * * *"

defaults:
  run:
    shell: pwsh


jobs:

  Pre-Build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    timeout-minutes: 20
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Variables
      run: 'printenv | sort'
    
    - name: Install GNU Parallel
      run: Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Install-GNU-Parallel.sh

    - name: build w3app
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Pre-Build-w3app.sh
        
    - name: build fx dependent
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Pre-Build-FX-Dependent.sh
        
    - name: copy w3app to w3api/wwwroot
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Copy-w3app-to-W3API-wwwroot.sh

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Pre-Build'
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
          
  


          
  Combine:
    runs-on: ubuntu-latest
    needs: Pre-Build
    if: always()
    timeout-minutes: 15
    steps:

    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v4
      with:
         path: artifactcs

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Combianed'
        path: artifactcs
        owerwrite: true
