name: SqlInsights Test MATRIX

on:
  workflow_dispatch:
    inputs:
      ARG_SQL_SET_SIZE:
        type: choice
        description: 'SQL Set'
        default: 'MINI'
        options:
        - MINI
        - LOCALDB
        - FULL

      ARG_HOST_VERSION:
        type: choice
        description: 'Windows HOST'
        default: '2022'
        options:
        - '2022'
        - '2025'
  
  push:
      branches: [ "none" ]
  schedule:
      - cron: "15 4 * * *"

defaults:
  run:
    shell: pwsh


jobs:

  Pre-Build:
    runs-on: ubuntu-latest
    outputs:
          matrix: ${{ steps.set-windows-matrix.outputs.matrix }}
          SQL_SET_SIZE: ${{ steps.set-windows-matrix.outputs.SQL_SET_SIZE }}
          HOST_VERSION: ${{ steps.set-windows-matrix.outputs.HOST_VERSION }}

    defaults:
      run:
        shell: bash
    timeout-minutes: 20
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Variables
      run: 'printenv | sort'
    - name: Install GNU Parallel
      run: Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Install-GNU-Parallel.sh

    - id: set-windows-matrix
      shell: pwsh
      run: . .\.github\workflows\Set-Windows-Matrix.ps1 -SqlSetSize "${{ github.event.inputs.ARG_SQL_SET_SIZE }}" -HostVersion "${{ github.event.inputs.ARG_HOST_VERSION }}"

    - name: build all parallel
      run: |
        parallel --group --halt 0 "bash -eu -o pipefail scripts/CI-Pre-Build/{}.sh 2>&1" ::: "Pre-Build-w3app" "Pre-Build-FX-Dependent"

    - name: build w3app (if parallel fail)
      if: failure()
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Pre-Build-w3app.sh
    - name: build fx dependent (if parallel fail)
      if: failure()
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Pre-Build-FX-Dependent.sh

    - name: copy w3app to w3api/wwwroot
      run: bash -eu -o pipefail scripts/CI-Pre-Build/Copy-w3app-to-W3API-wwwroot.sh
    - name: Content of w3api
      run: ls -laR $SYSTEM_ARTIFACTSDIRECTORY/w3api || true

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Pre-Build'
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        overwrite: true
        compression-level: 1

  # Run Window Matrix
  Windows:
    name: ${{ needs.Pre-Build.outputs.SQL_SET_SIZE }} Set on ${{ needs.Pre-Build.outputs.HOST_VERSION }}
    needs: Pre-Build
    uses: ./.github/workflows/SqlInsights-Windows-Jobs.yml
    with:
      matrix: ${{ needs.Pre-Build.outputs.matrix }}
      SQL_SET_SIZE: ${{ needs.Pre-Build.outputs.SQL_SET_SIZE }}
      HOST_VERSION: ${{ needs.Pre-Build.outputs.HOST_VERSION }}

  Combine:
    runs-on: ubuntu-latest
    needs: [Pre-Build, Windows]
    if: always()
    timeout-minutes: 20
    steps:

    - uses: actions/checkout@v4
    - uses: devizer/devops-library@main
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v4
      with:
         # name: Pre-Build
         path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}/RAW

    - name: Combine Metrics and Pack 7z
      shell: bash
      run: | 
        set -eu; set -o pipefail
        bash -eu scripts/CI-Steps/Final-Combine-Metrics.sh
        cd ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        cd $SYSTEM_ARTIFACTSDIRECTORY;
        rm -rf Pre-Build;
        cd RAW
        7z a -sdel -mx=9 -ms=on -mqs=on "$SYSTEM_ARTIFACTSDIRECTORY/Combined SqlInsights Matrix ${{ needs.Pre-Build.outputs.SQL_SET_SIZE }} on ${{ needs.Pre-Build.outputs.HOST_VERSION }}.7z"; 
        # Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Pack-each-Artifact-per-Archive.sh -9 -7z

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Combined SqlInsights Matrix ${{ needs.Pre-Build.outputs.SQL_SET_SIZE }} on ${{ needs.Pre-Build.outputs.HOST_VERSION }}.7z'
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        overwrite: true
        compression-level: 1

